import css
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e1f5dc;
  /*background-image: image("download.jpg");*/
  background-size:contain;
  height:550px;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:left center;
}

#imagem {
  /*display: block;*/
  /*width: auto;*/
  position: center;
  left: 90px; /* posiciona a 90px para a esquerda */
  top: 70px; /* posiciona a 70px para baixo */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 600;
}

.form-signin .form-floating:focus-within {
  z-index: 1;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
